{% extends "base1.html" %}
{% block content %}
<script>
  function file_delete() {
	  document.f.file2.value="";
	  file_desc.style.display="none";
  }
</script>
<form action="../../update/{{b.num}}/" method="post" enctype="multipart/form-data" name="f">
{%  csrf_token  %}
<input type="hidden" name="num" value="{{b.num}}">
<input type="hidden" name="file2"  value="{{b.file1}}">
<table class="w3-table-all">
    <caption>게시판 수정 화면</caption>
    <tr>
        <td>글쓴이</td>
        <td><input type="text" name="name" value="{{b.name}}" class="w3-input w3-border"></td>
    </tr>
    <tr>
        <td>비밀번호</td>
        <td><input type="password" name="pw"  class="w3-input w3-border"></td>
    </tr>
    <tr>
        <td>제목</td>
        <td><input type="text" name="title" value="{{b.title}}" class="w3-input w3-border"></td>
    </tr>
    <tr>
        <td>내용</td>
        <td><textarea rows="15" name="content"  id="content" class="w3-input w3-border">{{b.content}}</textarea></td>
    </tr>
    <tr>
        <td>첨부파일</td>
        <td style="text-align: left">
        {% if b.file1 %}
            <div id="file_desc">{{b.file1}}
                <a href="javascript:file_delete()">[첨부파일 삭제]</a>
            </div>
        {% endif %}
        <input type="file" name="file1"></td>
    </tr>
    <tr>
        <td colspan="2" class="w3-center">
            <a href="javascript:document.f.submit()">[게시물수정]</a>
        </td>
    </tr>
</table>
</form>
{% endblock%}
