{% extends "base1.html" %}
{% block title %}회원정보{% endblock%}
{% block content %}
<table class="w3-table-all w3-border"><caption>회원 정보 보기</caption>
  <tr><td rowspan="6" width="30%">
 <img src="/file/picture/{{mem.picture}}" width="200" height="210"></td>
    <th width="20%">아이디</th><td>{{mem.id}}</td></tr>
   <tr><th>이름</th><td>{{mem.name}}</td></tr>
   <tr><th>성별</th><td>{% if mem.gender == 1 %} 남
                        {% else %} 여
                        {% endif %}</td></tr>
   <tr><th>전화</th><td>{{mem.tel}}</td></tr>
   <tr><th>이메일</th><td>{{mem.email}}</td></tr>
   <tr><td colspan="2" class="w3-center">
     <a href="../../update/{{mem.id}}/">[수정]</a>
{% if request.session.login != 'admin' %}
     <a href="../../delete/{{mem.id}}/">[탈퇴]</a>
{% endif %}
</td></tr></table>{% endblock%}