<!-- templates/member/login.html-->
{% extends "base1.html" %}
{% block title %}로그인{% endblock%}
{% block content %}
<font color="red">{{msg}}</font>
<form action="../login/" method="post" name="f">
{% csrf_token %}
<table><caption>로그인</caption>
<tr><td>아이디</td>
    <td><input type="text" name="id"></td></tr>
<tr><td>비밀번호</td>
    <td><input type="password" name="pw"></td></tr>
<tr><td colspan="2">
  <input type="submit" value="로그인">
  <input type="button" value="회원가입"
     onclick="location.href='../join/'">
</td></tr></table></form>{% endblock%}