<!-- templates/member/main.html-->
{% extends "base1.html" %}
{% block title %}main{% endblock%}
{% block content %}
{# 로그인된경우 : request.session['login']=아이디값 #}
{%if request.session.login %} 
  <div>
  <h3>{{request.session.login}}로 로그인 되었습니다.</h3>
  <h3><a href="../logout/">로그아웃</a></h3>
  <h3><a href="../info/{{request.session.login}}/">회원정보보기</a></h3>
  {% if request.session.login == 'admin'%} {# 관리자로 로그인 된 경우#}
  <h3><a href="../list/">회원목록조회</a></h3>
  {% endif %}
  </div>
{% else %}  {# 로그아웃 상태 #}
<script>
   location.href="../login/"
</script>
{% endif %}
{% endblock%}
