<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
<title>비밀번호수정</title>
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript">
    function inchk(f){\
        if(f.chgpw.value != f.chgpw2.value){
            alert("변경 비밀번호와 변경미빌번호 재입력이 같아야 합니다.");
            f.chgpw2.value="";
            f.chgpw2.focus();
            return false;
        }
    }
</script>
</head>

<body>
<form action="../password/" method="post" name="f" onsubmit="return inchk(this)">
{% csrf_token %}
<table>
<caption> 비밀번호 변경</caption>
    <tr><th>현재 비밀번호</th>
        <td><input type="password" name="pw"></td></tr>
    <tr><th>변경 비밀번호</th>
        <td><input type="password" name="chgpw"></td></tr>
    <tr><th>현재 비밀번호 재입력</th>
        <td><input type="password" name="chgpw2"></td></tr>
    <tr><td colspan="2">
        <input type="submit" value="비밀번호 변경"></td></tr>
</table>
</form>
</body>
</html>
